.mktg-landing-hero {
    linear-gradient(transparent, transparent);
    display:none;
}
.mktg-landing-hero.section1 {
    background-image: url("https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-1.png");
    background-image: url(https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-1.svg),
}
.mktg-landing-hero.section2 {
    background-image: url("https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-2.png");
    background-image: url(https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-2.svg),
}
.mktg-landing-hero.section3 {
    background-image: url("https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-3.png");
    background-image: url(https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-3.svg),
}
.mktg-landing-hero.section4 {
    background-image: url("https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-4.png");
    background-image: url(https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-4.svg),
}
.mktg-landing-hero.section5 {
    background-image: url("https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-5.png");
    background-image: url(https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-5.svg),
}
.mktg-landing-hero.section6 {
    background-image: url("https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-6.png");
    background-image: url(https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-6.svg),
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.mktg-form-bg {
	background-color: #fff;
	margin-top: -100px;
}

.mktg-l-pad-top-100 {
    padding-top: 100px;
}

.mktg-roi-icon-1 {
    position: inherit;
    z-index: 100;
    margin-bottom: -63px;
}

.mktg-grey-border {
	width: 40px;
	border-top: 1px solid #D2D6DF;
}

.mktg-btn-overlap {
    position: inherit;
    z-index: 300;
    margin-top: -22px;
}

.mktg-btn-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(63,16,1,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(63,16,1,0.25);
    box-shadow: 0px 0px 5px 0px rgba(63,16,1,0.25);
}

/* Size: small-middle-width */
@media screen and (max-width: 480px) {
	.mktg-landing-hero {
    	background-image: url("https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-1-mobile.png");
    	background-image: url(https://s3.amazonaws.com/eventbrite-s3/marketing/landingpages/assets/graphics/roi-header-1-mobile.svg),
    linear-gradient(transparent, transparent);
	}
}

section.sectionPanel {
  display:none;
}

section#section1 {
  display:block;
}

form.responsive-form select {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px #D2D6DF solid;
    border-radius: 3px;
    color: #45494E;
    background-color: #fff;
    font-size: 16px;
    line-height: 16px;
    height: 44px;
}